@font-face {
    font-family: "NorseBold";
    src:
            url("font/Norse-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 2em;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}